<!doctype html>

<html lang="en" ng-app="brimApp">
  <head>
    <meta charset="utf-8">
    <script src="bower_components/angular/angular.js"></script>
    <script src="js/app.js"></script>
    <script src="js/controllers.js"></script>
    <script src="js/services/GetTagsService.js"></script>
    <script src="js/services/GetImagesByTagService.js"></script>
    <script src="js/services/GetImageByLocationService.js"></script>

    <title>Brim Photo Search</title>
  </head>

  <body>
    <div id='tags' ng-controller="brimAppController as ctrl">

        <input id="searchTags" type="text" ng-model="tagsearch" placeholder="Enter tag to search">

        <button id="searchTagSubmit" ng-click="ctrl.getTags(tagsearch)">Search Tags</button>

        <button id="searchImageSubmit" ng-click="ctrl.getImagesByTag(tagsearch)">Search Images</button>
        {{error}}

      <span ng-repeat='tag in ctrl.tags'>
        <span id="relatedTags" ng-click="ctrl.saveTag(tag.name)">{{ tag.name }}</span>
      </span>

      <br>

      <span ng-repeat='chosenTag in ctrl.chosenTags'>
        <span id="chosenTags">{{ chosenTag }}  </span>
        <span ng-click="ctrl.removeTag(chosenTag)">X</span>
      </span>

      <button id='tagOr-button' ng-click="ctrl.searchMultipleTags('or')">Multiple Search</button>
      <button id='tagAnd-button' ng-click="ctrl.searchMultipleTags('and')">And Search</button>
      <div id="images" ng-repeat='image in ctrl.images'>
        <img src="{{ image.images.thumbnail.url }}">
      </div>

      <button ng-click="ctrl.getImageByLocation()">loc button</button>
      {{ctrl.imageLoc}}

      <button ng-click="ctrl.searchTagsWithLocation()">tags and loc</button>

    </div>
  </body>
</html>
