<!doctype html>

<html lang="en" ng-app="brimApp">
  <head>
    <meta charset="utf-8">
    <script src="bower_components/angular/angular.js"></script>
    <script src="js/app.js"></script>
    <script src="js/controllers.js"></script>
    <script src="js/services/GetTagsService.js"></script>
    <script src="js/services/GetImagesByTagService.js"></script>

    <title>Brim Photo Search</title>
  </head>

  <body>
    <div id='tags' ng-controller="brimAppController as ctrl">

        <input id="searchTags" type="text" ng-model="tagsearch" placeholder="Enter tag to search">

        <button id="searchTagSubmit" ng-click="ctrl.getTags(tagsearch)">Search Tags</button>

        <button id="searchImageSubmit" ng-click="ctrl.getImagesByTag(tagsearch)">Search Images</button>
        {{error}}

      <span ng-repeat='tag in ctrl.tags'>
        <span ng-click="ctrl.saveTag(tag.name)">{{ tag.name }}</span>
        <span ng-click="ctrl.removeTag(tag.name)">X</span>
      </span>

      <br>

      {{ctrl.chosenTags}}

      <button id='tagOr-button' ng-click="ctrl.searchMultipleTags()">Multiple Search</button>

      <div id="images" ng-repeat='image in ctrl.images'>
        <img src="{{ image.images.thumbnail.url }}">
      </div>

    </div>
  </body>
</html>

