@import 'https://fonts.googleapis.com/css?family=Arimo|Lato|Open+Sans|Roboto|Source+Sans+Pro';

body {
/*  background-color: rgba(162, 205, 233, 0.53);
*/}

.buffer {
  padding: 0 40px 0 40px;
  margin-bottom: -25px;
}

#logo {
  font-size: 24px;
  font-family: "Helvetica Neue", HelveticaNeue, "Arimo", "Source Sans Pro", "Open Sans", "Roboto", Helvetica, Arial, sans-serif;
  padding-left: 15px;
}

#search-block {
  height: 110px;
  border: none;
/*  border-top: 1px solid #606469;
  border-bottom: 1px solid #606469;*/
  display: block;
  min-width: 90%;
  font-weight: 100;
  font-size: 4.2em;
  font-family: "Helvetica Neue", HelveticaNeue, "Arimo", "Source Sans Pro", "Open Sans", "Roboto", Helvetica, Arial, sans-serif;
  border-color: #DCDCDC;
  margin: .1em 0;
  margin-left: 40px;
  padding: .15em 0;
}

#button-block {
  right: 30px;
  display: block;
  position: absolute;
  margin-top: -95px;
}

.search-button {
  color: #777;
  background-color: #DCDCDC;
}

.search-button:hover {
  color: #222;
  background-color: #BBB;
}

#searchTags {
  height: 65px;
  width: 76%;
}

#searchTags:focus, 
#searchTagSubmit:focus, 
#searchImageSubmit:focus,
#searchLocationSubmit:focus{
  outline: none;
}

#searchTagSubmit, 
#searchImageSubmit,
#searchLocationSubmit{
  border-radius: 50%;
  height: 50px; width: 50px;
  border: none;
  font-size: 20px;
  margin-top: -20px;
  right: 0px;
  display: inline;
}

#relatedTags {
  padding-left: 10px;
}

#tag-status {
  color: #DCDCDC;
}

fieldset {
  display: block;
  -webkit-margin-start: 2px;
  -webkit-margin-end: 2px;
  -webkit-padding-before: 0.35em;
  -webkit-padding-start: 0.75em;
  -webkit-padding-end: 0.75em;
  -webkit-padding-after: 0.625em;
}

input {
  border: none;
}

figure {
  top: 0;
  left: 0;
  margin: 0;
  width: 80%;
  height: 60vh;
}

gmap {
  display: block;
  height: 100%;
}

map-marker {
  width: 30px;
  height: 30px;
  /*NOTE: margins must be half the size of the marker size. 
  This ensures that markers are placed at the correct location, 
  and that custom markers are overlaid in place of standard markers.*/
  margin-top: -15px;
  margin-left: -15px;
  position: absolute;
  display: block;
  cursor: pointer;
  transition: all .3s;
  border-bottom: 2px solid #DCDCDC;
  border-top: 2px solid #DCDCDC;
  border-left: 2px solid #DCDCDC;
  border-right: 2px solid #DCDCDC;
  border-radius: 5%;
}

map-marker.active {
  width: 200px;
  height: 200px;
  margin-top: -100px;
  margin-left: -100px;
  background-size: 100%;
  z-index: 5;
  border-bottom: 2px solid #DCDCDC;
  border-top: 2px solid #DCDCDC;
  border-left: 2px solid #DCDCDC;
  border-right: 2px solid #DCDCDC;
  border-radius: 5%;
}

map-marker, map-marker.active {
  background-size: 100%;
  box-shadow: 4px 4px 4px #888888;
}

#tags-list {
  width: 15%;
  right: 40px;
  height: 60vh;
  width:200px;
  border: 3px solid #ccc;
  border-radius: 5%;
  overflow:auto;
  position: absolute;
  margin-right: 0px;
}

#username {
  font-weight: bold;
  margin-top: 155px;
}

ul {
  bottom: -15px;
  padding: 1em;
  display: block;
  position: absolute; 
}

li {
  font-family: sans-serif;
  color: #999;
  margin-bottom: .5em;
  cursor: pointer;
}

li:hover{
  color: #222;
}

.image-list {
  margin-left: -4px;
}

.photo-username {
}

.photo-caption {
}
